<!doctype html>
<html>
  <head><title></title></head>
  <body>
    <h1>Add new snack</h1>
    <form action="/snacks" method="POST">
      <input type="text" name="snack_name">
      <input type="submit" value="So hungry">
    </form>
  </body>
</html>
